
/*Calendario interacticbo cc3*/
 *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  body {
    background: -webkit-gradient(linear, left top, right top, from(rgb(89, 172, 111)), to(rgb(13, 182, 69)));
    background: -webkit-linear-gradient(left, rgb(109, 155, 134), rgb(10, 146, 81));
    background: -o-linear-gradient(left, rgb(106, 162, 129), rgb(37, 173, 80));
    background: linear-gradient(to right, rgb(106, 144, 117), rgb(13, 157, 68)); }
  
  .title {
    text-align: center;
    color: rgb(6, 69, 36); }
  
  .calendar {
    background: #5c9e6e;
    width: 80%;
    max-width: 600px;
    margin: 1em auto;
    padding: .5em 0; }

    .calendar__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 2em;
      font-size: 1.2em;
      text-transform: uppercase; }

      
    .calendar__prev, .calendar__next {
      color: rgb(6, 69, 36);
      cursor: pointer;
      font-size: 1.3em; }
    .calendar__prev {
      margin-right: auto; }
    .calendar__next {
      margin-left: auto; }
    .calendar__week, .calendar__dates {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 10px; }
    .calendar__month, .calendar__year {
      padding: .5em 1em; }
    .calendar__item {
      text-align: center;
      line-height: 2; }
    .calendar__today {
      background: rgb(6, 69, 36);
      color: black;
      width: 50%;
      border-radius: 70%;
      margin: auto; }
    .calendar__last-days {
      opacity: .3; }
      
      .whatsapp {
        position: fixed;
        bottom: 20px;
        right:20px;
     }
     svg {
        width: 80px;
        filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
     }
     
circle {
    fill: #25d366;
 }
 path {
    fill: #fff;
 }