.titulo-principal{
    padding-left: 30px;
    color: rgb(10, 141, 97);
}

#casaMasaje{
    width:50%;
    border-radius:25%; width:100%; height:auto;
    Background-color: transparent;     

}

.principal{
    background: rgb(191, 235, 198);
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color:green;
}

#mision{
    font-size: 25px;
}

.horarioMasaje{
    background: #2b634d;
    padding: 30px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenhorarioMasaje{
    width: 60%;
    border-radius:100%; width:60%; height: auto;
}

