
body{
    font-family: 'Helvetica', sans-serif;
    background-color:#77caa7;
}


.titulo-principal{
    text-align: center;
    font-size: 40px;
}

.principal{
    background: #66b587;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
    color: rgb(15, 184, 15)
}

p{
    text-align:justify;
    font-size: 30px;

}

em strong{
    color:rgb(14, 145, 47);
}

#mision{
    font-size: 40px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 40px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
    opacity: 0;
}

