
.titulo-principal{
 padding-left: 30px;

}
#banner{
    width: 50%;
}

.principal{
    background: #0a0700;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;

}

p{
    text-align:center;

}
em strong{
    color:rgb(14, 145, 47);
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.items{
    font-style:italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
  margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}

.p-footer{
    text-align:center;
    font-size: 30px;
}
